<turbo-frame
  id="track"
>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Song</h5>
      <h6 class="card-subtitle mb-2 text-muted">

      </h6>
      <p class="card-text">

      </p>
    </div>
  </div>
</turbo-frame>