<turbo-frame
  id="track"
>
  <div class="card">
    <div class="card-header card-title">
      Song
    </div>
    <div class="card-body">
      <div class="card-subtitle">
        <%= @track.display_name if @track %>
      </div>
      <p class="card-text">
        <%= @track_description %>
        <% if @track_album_description %>
          <br>
          <%= @track_album_description %>
        <% end %>
        <br>
        <% if @spotify_url %>
          <a href="<%= @spotify_url %>" target="_blank">Open in Spotify</a>
        <% end %>
      </p>
    </div>
  </div>
</turbo-frame>
