<turbo-frame
  id="track"
>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Song</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= @track.display_name if @track %>
      </h6>
      <p class="card-text">
        <%= @track_description %>
        <% if @track_album_description %>
          <br>
          <%= @track_album_description %>
        <% end %>
      </p>
    </div>
  </div>
</turbo-frame>
