<turbo-frame
  id="artist"
>
  <div class="card">
    <div class="card-header card-title">
      Artist
    </div>
    <div class="card-body">
      <div class="card-subtitle">
        <%= @artist.name %>
      </div>
      <p class="card-text">
        <%= @artist_description %>
        <% if @genres_description %>
          <br>
          <%= @genres_description %>
        <% end %>
        <% if @related_artists_description %>
          <br>
          <%= @related_artists_description %>
        <% end %>
      </p>
    </div>
  </div>
</turbo-frame>
