<turbo-frame
  id="artist"
>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Artist</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= @artist.name %>
      </h6>
      <p class="card-text">
        <%= @artist_description %>
      </p>
    </div>
  </div>
</turbo-frame>
