<div class="container">
  <div class="row">
    <div class="col-4">
      <%= turbo_frame_tag 'playlists', src: playlist_url(@playlist) %>
    </div>

    <div class="col-4">
      <%= render :partial => "playlists/playlist_items/playlist_item_frame" %>
    </div>

    <div class="col-4">
      <%= turbo_frame_tag 'date_info', src: "/playlists/#{@playlist.id}/date_info" %>
    </div>
  </div>
</div>
