<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= turbo_frame_tag 'playlists', src: '/playlists' %>
    </div>

    <div class="col-4">
      <%= render :partial => "playlists/playlist_items/playlist_item_frame" %>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Date</h5>
          <h6 class="card-subtitle mb-2 text-muted">On ths date</h6>
          <p class="card-text">
            This is going to have lots of fun stuff - weather info, news stories, social media history, google history, git commits
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
