<% if playlist_item %>
  <p>
    <a
      href="<%= playlist_playlist_item_url(playlist_item.playlist.id, playlist_item.id) %>"
      data-turbo-frame="playlist_item"
    >
      <%= playlist_item.track.artist.name %>
      -
      <%= playlist_item.track.display_name %>
    </a>
  </p>
<% end %>
